*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --background-color:rgba(144, 182, 214);
  
}

.App
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}